<div data-spy="scroll" data-target="#navbar" data-offset="0" [@bodyState]="state">
  <img src="https://image.shutterstock.com/image-photo/bananas-grapes-600w-518328943.jpg"
       width="150" height="150" class="rounded-circle marginer">
  <div>
    <h2 id="item-1">Michele Cafagna</h2>
    <p>Sono nato in Puglia ma vivo da sempre in Emilia-Romagna. Adoro il coding, i videogame, la letteratura e i
      tatuaggi.</p>
    <p>Studio costantemente nuove tecnologie, trascinato dalla passione.</p>
    <p>Costantemente alla ricerca del nuovo, cerco di creare i miei software in modo pulito, sempre con un occhio di
      riguardo a design ed usabilità.</p>
  </div>
  <div>
    <h2 id="item-2">Personal Experience</h2>
    <app-experience-box *ngFor="let exp of experiences" [experience]="exp"></app-experience-box>
  </div>
  <div>
    <app-skill *ngFor="let skill of skills" [skill]="skill"></app-skill>
  </div>
  <div>
    <h2 id="item-3">Contacts</h2>
    <a href="mailto:mcafagna31@gmail.com">Gmail</a>
    <br>
    <a href="https://www.linkedin.com/in/michele-cafagna-966784122/">LinkedIn</a>
  </div>
</div>
