/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Jost';
  background-color: black;
  color: white;
  /*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
}

p {
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  margin: 0;
  font-size: 14px;
}

